<ion-header>
  <ion-navbar>
    <ion-title>รายการสินค้า</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <!--Search Bar-->
  <ion-grid no-padding>
    <ion-row *ngIf="!isShowSearch">
      <ion-col col-10>
        <ion-item no-lines (click)="presentActionSheet()" class="show-list">
          <strong> {{titleProductFilter}} </strong>
          <ion-icon item-end icon-left name="ios-arrow-down"></ion-icon>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item no-lines class="search">
          <button ion-button icon-only clear (click)="onSearchShow()">
            <ion-icon name="search" color="darkBlue"></ion-icon>
          </button>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isShowSearch">
      <ion-searchbar #mainSearchbar (ionInput)="searchItems($event)"  (ionCancel)="onSearchCancel()" [animated]="true" [showCancelButton]="true" style="height: 50px;"></ion-searchbar>
    </ion-row>
  </ion-grid>
  <!--Search Bar-->

  <!--Pull To Refresh-->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <!--Pull To Refresh-->

  <!--Content ListView-->
  <ion-list inset style="padding-left: 0px; margin-left: 0px; margin-right: 0px;">
    <button ion-item detail-none text-wrap *ngFor="let item of productsFilter" (click)="editProduct(item)" style="padding-left: 8px; margin-left: 0px;">
      <ion-avatar item-left>
        <img src="http://192.168.200.31:8081/images/{{item.image}}">
      </ion-avatar>
      <h3>{{item.name}}</h3>
      <p>Price: {{item.price | currency:'฿':'code'}}, Qty: {{item.stock}}</p>
    </button>
  </ion-list>
  <!--Content ListView-->

  <!--Fab Add Product-->
  <ion-fab right bottom style="margin: 8px;" >
    <button ion-fab color="secondary" (click)="createItem()">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>
  <!--Fab Add Product-->
</ion-content>
