page-order {
    .span-nav {
        font-size: 13px;
    }
    .span-item {
        font-size: 12px;
    }
    .h4-gray{
        color: gray; 
    }
    .padding-margin{
        padding: 0px !important;
        margin: 0px !important;
    }
} 
