page-home {
    .search{
       border-top: 1px solid #cccccc !important; 
       border-bottom: 1px solid #cccccc !important;   
       height: 50px; 
       padding: 0 0 0 8px;
       margin: 0px; 
    }

    .show-list{
        border-top: 1px solid #cccccc !important; 
        border-bottom: 1px solid #cccccc !important;  
        border-right: 1px solid #cccccc !important;  
        height: 50px;
        padding: 0 0 0 16px;
        margin: 0px; 
     }
   

     
}
